    <div class="jumbotron">
        <div class="container">
            <%= image_tag("logo.png", alt: 'My Series Companion', class: 'col-md-2') %>
            <div class="col-md-7">
                <h2 class="nomargin">My Series Companion</h2>
                <p>Mon petit Compagnon est une petite application vous permettant de suivre la progression de vos séries : épisodes et saisons.</p>
                <p>
                    <a class="btn btn-primary btn-md" href="#" role="button">Inscription »</a>
                    <a class="btn btn-success btn-md" href="#" role="button">Connectez-vous »</a>
                </p>
            </div>
        </div>
    </div>

    <h3>Dernières séries ajoutées <%= link_to("Voir toutes les séries", "/series", class: 'btn btn-primary pull-right') %></h3>
    <% if @shows.any? %>
        <ul class="all-blogs">
        <% @shows.each do |serie| %>
            <div class="col-md-2">
                <img class="thumbnail img-responsive" alt="<%= serie.name %>" 
                        src="<%= serie.poster %>" />
                <%= serie.name %>
            </div>
        <% end %>
        </ul>
    <% end %>
