<div class="col-xs-12 col-sm-5 col-md-4">
    <h3>Votre dernière série</h3>
    <div class="blog-stripe">
        <a href="<%= show_path(current_user.shows.last) %>">
            <img src="<%= banner(current_user.shows.last.poster, 'poster_serie') %>" alt="" class="feature img-responsive">
        </a>
    </div>
</div>
<div class="col-md-8 head-list-shows">
  <div class="col-xs-12 col-sm-6 col-md-3">
    <h3>Vos séries</h3>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-9">
    <%= simple_form_for :shows, url: shows_path,
                              method: :get,
                              html: { class: 'form-inline text-right', id: 'search-show' } do |f| %>
      <div class="form-group">
        <div class="input-group">
          <%= f.input_field :search, label: false,
                                      placeholder: 'Rechercher dans mes séries',
                                      class: 'form-control',
                                      value: @search_value %>
            <span class="input-group-btn">
              <%= button_tag type: :submit, class: 'btn btn-default' do %>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              <% end %>
            </span>
        </div>
      </div>
    <% end %>
  </div>
  <% @shows.each do |show| %>
    <% user_episode = UserEpisode.where(['user_id = ?', current_user.id]).last %>
    <% current_episode = user_episode.episode.number.to_s %>
    <% current_season = user_episode.episode.season.num.to_s %>
    <% current = "Saison #{current_season} Épisode #{current_episode}" %>
    <div class="col-xs-12 col-sm-7 col-md-12 shows-item">
      <div class="col-xs-3">
        <img class="img-thumbnail img-responsive" src="<%= banner(show.banner, 'banner_serie') %>">
    </div>
    <div class="col-xs-6">
        <p><%= show.name %> <span class="rating"><%= render partial: 'shows/rating', locals: { rating: show.rating } %></span></p>
        <p class="author"><%= current %></p>
    </div>
    <div class="col-xs-3 side-shows">
        <div class="btn-group pull-right shows-actions" role="group">
          <%= link_to show, :class => "btn btn-sm btn-success show" do %>
            <span class="glyphicon glyphicon-eye-open"></span>
          <% end %>
          <%= link_to synch_path(show), :id => "synch_path", :class => "btn btn-sm btn-primary" do %>
            <span class="glyphicon glyphicon-refresh"></span>
          <% end %>
          <%= link_to show, method: :delete, data: { confirm: 'Êtes-vous certain de vouloir supprimer cette série?' }, :class => "btn btn-sm btn-danger delete" do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
      </div>
        </div>
    </div>

  <% end %>
  <div class="col-md-12">
    <div class="pull-right">
      <%= will_paginate @shows, :previous_label => '<span class="glyphicon glyphicon-chevron-left"></span>', :next_label => '<span class="glyphicon glyphicon-chevron-right"></span>', renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
