<p id="notice"><%= notice %></p>

<% if current_user.shows.last %>
<div class="col-xs-12 col-sm-5 col-md-4">
    <h3>Récemment ajoutée</h3>

    <div class="blog-stripe">
        <a href="<%= show_path(current_user.shows.last) %>">
            <img src="<%= poster(current_user.shows.last) %>" alt="" class="feature img-responsive">
            <div class="block-title">
                <h2 class="text-center"><%= current_user.shows.last.name %></h2>
                <!-- <p class="author text-center"><small>Episode 1 - Saison 6</small></p> -->
            </div>
        </a>
    </div>
</div>
<% else %>
<h3>Pas encore de série ajoutée...</h3>
<% end %>
<div class="col-xs-12 col-sm-7 col-md-8">
    <h3>Vos séries</h1>
        <% @shows.each do |show| %>
        <div class="row shows-item">
          <div class="col-xs-3">
            <img class="img-thumbnail img-responsive" src="<%= banner(show) %>">
        </div>
        <div class="col-xs-5">
            <p><%= show.name %></p>
            <p class="author">Episode 6 - Saison 4</p>
        </div>
        <div class="col-xs-4 side-shows">
            <div class="btn-group pull-right shows-actions" role="group">
              <%= link_to show, :class => "btn btn-sm btn-success show" do %>
              <span class="glyphicon glyphicon-eye-open"></span>
              <% end %>
              <%= link_to edit_show_path(show), :class => "btn btn-sm btn-primary edit" do %>
              <span class="glyphicon glyphicon-pencil"></span>
              <% end %>
              <%= link_to show, method: :delete, data: { confirm: 'Êtes-vous certain de vouloir supprimer cette série?' }, :class => "btn btn-sm btn-danger delete" do %>
              <span class="glyphicon glyphicon-trash"></span>
              <% end %>
          </div>
          <div class="rating pull-right">
              <%= render partial: 'shows/rating', locals: { rating: show.rating } %>
          </div>
      </div>
  </div>

  <% end %>
  <%= link_to 'Nouvelle série', new_show_path, class: "btn btn-success" %>
</div>

