<p id="notice"><%= notice %></p>

<h1>Liste des séries</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nom de la série</th>
      <th>Durée</th>
      <th>Chaîne TV</th>
      <th>Note</th>
      <th>Statut</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td><%= show.name %></td>
        <td><%= show.runtime %></td>
        <td><%= show.network %></td>
        <td><%= show.rating %></td>
        <td><%= show.status %></td>
        <td>
          <div class="btn-group" role="group">
            <%= link_to show, :class => "btn btn-success" do %>
              <span class="glyphicon glyphicon-eye-open"></span>
            <% end %>
            <%= link_to edit_show_path(show), :class => "btn btn-primary" do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
            <%= link_to show, method: :delete, data: { confirm: 'Êtes-vous certain?' }, :class => "btn btn-danger" do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle série', new_show_path, class: "btn btn-success" %>


