<div class="row">
	<div class="col-md-12">
		<h1>Ajoutez une série à votre collection</h1>
	</div>
	<div class="col-md-12">
		<h3>À l'affiche</h3>
		<div class="slide_shows">
			<% @shows.first(8).each do |show_trending| %>
				<% @shows_user.each do |show_user| %>
					<% if show_user != show_trending %>
						<% if !show_trending.poster.nil? %>
							<div class="col-md-1 trending_show" data-name="<%= show_trending.name %>">
								<div class="black_bg">
									<img class="img-responsive" src="<%= banner(show_trending.poster, 'new_poster') %>">
									<p class="btn_add_show">Ajouter</p>
								</div>
							</div>
						<% end %>
					<% else %>
					<p>Aucune série à vous proposer pour le moment.</p>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="col-md-6">
		<%= simple_form_for(@show) do |f| %>
		    <%= f.error_notification %>
		    <h3>Recherchez votre série</h3>
			<div class="form-inputs">
			    <%= f.input :name, label: false %>
					<div class="form-actions">
					<%= f.button :submit, 'Rechercher et ajouter la série', class: 'btn btn-success' %>
					<%= link_to 'Retour', shows_path, class: 'btn btn-default' %>
					</div>
			</div>
		<% end %>
	</div>
</div>
