<%= debug @client %>
<div class="row">
  <div class="col-sm-4 hidden-xs">
    <div class="lecteur">
      <img class="img-thumbnail img-responsive" src="http://www.edilivre.com/media/blog/2013/07/game-of-thrones-season-4.jpg">
    </div>
  </div>
  <div class="col-xs-5 col-sm-offset-0 col-xs-offset-2">
    <h2><%= @show.name %> <%= link_to 'Éditer', edit_show_path(@show), class: 'btn btn-primary' %>
    <%= link_to 'Retour', shows_path, class: 'btn btn-default' %></h2>

    <p>
      Durée: <%= @show.runtime %> min.
    </p>
    <br/>
    <p><span class="serie-desc">Réalisateur</span>  Jacob Gentry</p>
    <p><span class="serie-desc">Scénariste</span> Jacob Gentry</p>
    <p><span class="serie-desc">Acteurs</span> Chad McKnight, Brianne Davis, AJ Bowen, Scott Poythress, Michael Ironside</p>
    <p>
      <strong>Résumé:</strong>
      <%= @show.overview %>
    </p>

  </div>
  <div class="col-md-3">

    <% if @show.status == '1' %>
      <h2>En production</h2>
    <% else %>
      <h2>Arrêtée</h2>
    <% end %>
    <div class="rating">
      <%= render partial: 'shows/rating', locals: { show: @show } %>
    </div>

    <h3><%= @show.network %></h3>

  </div>
</div>
<div class="row">
  <% if @show.seasons.any? %>
    <% for season in @show.seasons %>
      <h3>Saison <%= season.num %></h3>
      <% if season.episodes.any? %>
        <% for episode in season.episodes %>
          <div class="col-xs-12 episode">
            <div class="col-md-1 col-sm-2 hidden-xs">
              <% if episode.filename %>
                <img class="img-thumbnail img-responsive" src="<%= episode.filename %>">
              <% end %>
            </div>
            <div class="col-xs-8 episode-desc">
              <h4>Episode <%= episode.number %>: <%= episode.name %></h4>
              <div class="episode-desc-text"><%= episode.overview %></div>
            </div>
            <div class="col-xs-3 col-sm-2">
                <!-- La classe "valided" du bouton est à entourée d'un if : <%# if episode is valided %> valided <%# end %>-->
                <!-- pas encore d'attribut valided sur l'episode -->
                <button type="button" class="btn btn-default pull-right valid-episode valided">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>     
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    Pas de saisons pour cette série.
  <% end %>
</div>