<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @show.name %>
</p>

<p>
  <strong>Résume:</strong>
  <%= @show.overview %>
</p>

<p>
  <strong>Bannière:</strong>
  <%= @show.banner %>
</p>

<p>
  <strong>Postère:</strong>
  <%= @show.poster %>
</p>

<p>
  <strong>Durée:</strong>
  <%= @show.runtime %>
</p>

<p>
  <strong>Chaîne TV:</strong>
  <%= @show.network %>
</p>

<p>
  <strong>Note:</strong>
  <%= @show.rating %>
</p>

<p>
  <strong>Statut:</strong>
  <%= @show.status %>
</p>

<%= link_to 'Éditer', edit_show_path(@show) %> |
<%= link_to 'Retour', shows_path %>
