<%= simple_form_for @serie, method: :post do |f| %>
  <% if @serie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@serie.errors.count, "error") %> prohibited this type from being saved:</h2>

      <ul>
      <% @serie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :overview %>
    <%= f.input :banner %>
    <%= f.input :poster %>
    <%= f.input :runtime %>
    <%= f.input :network %>
    <%= f.input :rating %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.submit 'Enregistrer', class: 'btn btn-primary' %>
  </div>
<% end %>
