<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @serie.name %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @serie.overview %>
</p>

<p>
  <strong>Banner:</strong>
  <%= @serie.banner %>
</p>

<p>
  <strong>Poster:</strong>
  <%= @serie.poster %>
</p>

<p>
  <strong>Runtime:</strong>
  <%= @serie.runtime %>
</p>

<p>
  <strong>Network:</strong>
  <%= @serie.network %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @serie.rating %>
</p>

<p>
  <strong>Status:</strong>
  <%= @serie.status %>
</p>

<%= link_to 'Edit', edit_serie_path(@serie) %> |
<%= link_to 'Back', series_path %>
