<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width", initial-scale=1">
	<title>My Series Companion</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-inverse navbar-fixed-top" id="header-nav">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">My Series Companion</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<% if not user_signed_in? %>
					<!--
					<form class="navbar-form navbar-right">
							
						<div class="form-group">
							<input type="text" placeholder="Email" class="form-control">
						</div>
						<div class="form-group">
							<input type="password" placeholder="Password" class="form-control">
						</div>
						<button type="submit" class="btn btn-success">Connexion</button>
					</form>
					-->
					<%= form_for(:user, :url => session_path(:user), html: { class: "navbar-form navbar-right"}) do |f| %>
					  <div class="form-group">
					  	<%= f.text_field :email, placeholder: "Email", class: "form-control" %>
					  </div>
					  <div class="form-group">
					  	<%= f.password_field :password, placeholder: "Password", class: "form-control" %>
					  </div>
					  <%#
					  <%= f.check_box :remember_me %>
					  <%#
					  <%= f.label :remember_me %>
					  <%= f.submit 'Connexion', class: "btn btn-success" %>
					  <%#
					  <%= link_to "Forgot your password?", new_password_path(:user) %>
					<% end %>
				<% else %>
					<div class="navbar-right">
						<p class="navbar-text">Connecté en tant que <%= current_user.email %></p>
						<%= link_to 'Deconnexion', destroy_user_session_path, class: 'btn btn-danger navbar-btn', :method => :delete %>
					</div>
				<% end %>
			</div>
		</div>
	</nav>
	<div class="content-website">
		<%# Alerts message for Devise %>
		<% if notice %>
			<p class="notice alert alert-info"><%= notice %></p>
		<% end %>
		<% if alert %>
			<p class="alert alert-danger" role="alert"><%= alert %></p>
		<% end %>
		<%# Yield allows override page content %>
		<%= yield %>
	</div>
	</div>
	<footer class="footer">
      	<div class="container">
        	<p class="text-muted">© Tous droits réservés, My Series Companion.</p>
      	</div>
    </footer>
</body>
</html>