<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width", initial-scale="1">
	<%= favicon_link_tag 'favicon.png' %>
	<title>My Series Companion</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-inverse navbar-fixed-top" id="header-nav">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to "My Series Companion", "/", class: "navbar-brand" %>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<% if user_signed_in? %>
					<ul class="nav navbar-nav">
						<li class="<% if current_page?(shows_path) %>active<% end %>"><%= link_to 'Mes séries', shows_path %></li>
						<li class="<% if current_page?(new_show_path) %>active<% end %>"><%= link_to 'Nouvelle série', new_show_path %></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
			              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
			              	<%= current_user.email %> <span class="caret"></span></a>
			              <ul class="dropdown-menu">
			                <li>
			                	<%= link_to 'Mes informations', edit_user_registration_path %>
			                </li>
			                <li>
			                	<%= link_to 'Déconnexion', destroy_user_session_path, :method => :delete %>
		                	</li>
			              </ul>
			            </li>						
					</ul>
				<% end %>
			</div>
		</div>
	</nav>
	<div class="row content-website">
		<%# Alerts message for Devise %>
		<% flash.each do |name, msg| -%>
			<div class="alert alert-info alert-<%= name %>">
				<a class="close" data-dismiss="alert">x</a>
				<%= content_tag :div, msg, id: "flash_#{name}" %>
			</div>
		<% end %>
		<%# Yield allows override page content %>
		<%= yield %>
	</div>
	</div>
	<footer class="footer">
      	<div class="container">
        	<p class="text-muted">© Tous droits réservés, My Series Companion.</p>
      	</div>
    </footer>
    <script type="text/javascript">
    	
		var div = '<div id="center-loader"><div class="loader"><h3>Nous recherchons votre série...</h3><%= image_tag("loader.gif") %><p>Veuillez patienter...</p></div></div>';
		$('form#new_show').on('submit', function(){
		    $('body').append(div);
		});
		$('#synch_path').on('click', function(){
		    $('body').append(div);
		});
    </script>
</body>
</html>